<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body w-100 h-100">
                    <div class="row">
                        <div class="col-12 h4">Selecione os filtros de pesquisa</div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-6">
                                    <input type="date" class="form-group" >
                                </div>
                                <div class="col-6">
                                    <input type="date" >
                                </div>
                            </div>
                            <!-- <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{currentYear}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button
                                class="dropdown-item"
                                 type="button"
                                 *ngFor="let aux of year"
                                 (click)="changeFilterYear(aux.year)"
                                 >
                                    {{aux.year}}</button>
                                
                            </div>
                        </div> -->
                        </div>
                        <div class="col-4">
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{name}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button 
                                class="dropdown-item" 
                                type="button"
                                (click)="changeFilterName(aux.name)"
                                *ngFor="let aux of listUser"
                                >
                                    {{aux.name}}
                                </button>
                            </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{nameCompany}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button 
                                class="dropdown-item" 
                                type="button"
                                (click)="changeFilterCompanyName(aux.companyName)"
                                *ngFor="let aux of listCompanies"
                                >
                                {{aux.companyName}}
                            </button>
                            </div>
                            </div>
                        </div>
                        <div 
                        class="col-12"
                        *ngFor="let aux of listProducao"
                        >
                            <div class="card">
                                <div class="card-body">
                                   <!-- {{listProducao | json}} -->
                                   <div class="row text-sm">
                                       <div class="col">
                                           <div class="col-12">
                                               Solicitante
                                           </div>
                                           <div class="col-12">
                                               {{aux.companies.companyName}}
                                           </div>
                                       </div>
                                       <div class="col">
                                           <div class="col-12">
                                               Cortador
                                           </div>
                                           <div class="col-12">
                                               {{aux.users.name}}
                                           </div>
                                       </div>
                                       <div class="col">
                                           <div class="col-12">
                                               Referencia
                                           </div>
                                           <div class="col-12">
                                               {{aux.reference}}
                                           </div>
                                       </div>
                                       <div class="col">
                                           <div class="col-12">
                                               Talão
                                           </div>
                                           <div class="col-12">
                                               {{aux.patch}}
                                           </div>
                                       </div>
                                       <div class="col">
                                           <div class="col-12">
                                               quantidade
                                           </div>
                                           <div class="col-12">
                                               {{aux.amount}}
                                           </div>
                                       </div>
                                       <div class="col">
                                           <div class="col-12">
                                               Valor
                                           </div>
                                           <div class="col-12">
                                               {{aux.value | reais}}
                                           </div>
                                       </div>
                                       <div class="col">
                                           <div class="col-12">
                                               Valor a receber
                                           </div>
                                           <div class="col-12">
                                               {{aux.valueTotal | reais}}
                                           </div>
                                       </div>
                                       <div class="col">
                                           <div class="col-12">
                                               Data Entrada
                                           </div>
                                           <div class="col-12">
                                               {{aux.dateEntry | date:'dd/MM/yyy'}}
                                           </div>
                                       </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>