<div class="card h-100 shadow">
  <div class="card-body">
    <h6 class="card-title font-weight-bold clearfix">
      <span>
        <em class="ic-bag"></em>
      </span>
      Ganhos por periodo
      <div ngbDropdown class="float-right">
        <button class="btn btn-sm btn-outline-info" id="dropdownMenuButton" ngbDropdownToggle>
            {{ this?.currentMonthDescription }} {{ this?.currentYear }}
        </button>
        <div ngbDropdownMenu  aria-labelledby="dropdownMenuButton" >
          <button class="dropdown-item" (click)="changeFilter(aux.valor, aux.year)" *ngFor='let aux of months;index as i;'>
            {{ aux?.month | titlecase  }} {{ aux?.year}}
          </button>
        </div>
      </div>
    </h6>
      <div class="row">
        <div class="col-12 text-muted">
          Valor bruto:
        </div>
        <div class="col-12 h4 font-weight-bold">
          {{totalizadores?.valueTotal | reais}}
        </div>
        <div class="col-12 text-muted">
          Peças produzidas:
        </div>
        <div class="col-12 h4 font-weight-bold">
          {{(totalizadores?.sumBags  != null) ? totalizadores?.sumBags : 0}}
        </div>
      </div>
  </div>
</div>
