<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="formGroup" class="form-group">
                <div class="card ">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-12 border shadow ">
                        <label >Referencia</label>
                        <input
                        class="form-control "
                        type="text"
                        formControlName="reference"
                        placeholder="EX: ABC-123"
                        >
                        <hr>

                        <label >Talão</label>
                        <input
                        class="form-control "
                        type="text"
                        formControlName="patch"
                        placeholder="EX: ABC-123"
                        >
                        <hr>

                        <label >Quantidade</label>
                        <input
                        class="form-control "
                        type="text"
                        mask="99999"
                        formControlName="amount"
                        placeholder="EX: 10"

                        >
                        <hr>

                        <label >Valor</label>
                        <input
                        class="form-control "
                        currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"
                        formControlName="value"
                        >
                        <hr>
                        <label >Data de entrada</label>
                        <input
                        class="form-control "
                        type="date"
                        formControlName="dateEntry"
                        >
                        <hr>

                        <label >Funcionario</label>
                        <select class="form-control " formControlName="userID" autofocus>
                          <option *ngFor="let aux of listUsers"[ngValue]="aux">{{aux.name}}</option>
                        </select>

                        <hr>
                        <label >Cliente</label>
                        <select class="form-control "  formControlName="companyID" autofocus>
                            <option *ngFor="let aux of listCompanies" [ngValue]="aux">{{aux.companyName}}</option>
                        </select>
                        <hr>
                        <!-- <div>
                          status {{formGroup.status}}
                        </div>
                        <div>
                          status {{formGroup.value | json}}
                        </div> -->
                        <button class="btn btn-primary mt-3 mb-3" (click)="enviartalao()" [disabled]="!formGroup.valid">Enviar</button>
                        <div class="alert alert-success align-self-center text-center" role="alert" *ngIf="openSucess">
                            Talão cadastrado com sucesso!
                        </div>

                      </div>
                    </div>

                  </div>
                </div>

            </form>
        </div>
    </div>
</div>
