<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="formGroup" class="form-group">
                <div class="card ">
                  <div class="card-body">
                    <label >Referencia</label>
                    <input 
                    class="form-control w-25"
                    type="text"
                    formControlName="reference"
                    placeholder="EX: ABC-123"
                    >
                    <hr>
                    <label >Talão</label>
                    <input 
                    class="form-control w-25"
                    type="text"
                    formControlName="patch"
                    placeholder="EX: ABC-123"
                    >
                    <hr>
                    <label >Quantidade</label>
                    <input 
                    class="form-control w-25"
                    type="text"
                    formControlName="amount"
                    placeholder="EX: 10"
                    >
                    <hr>
                    <label >Valor</label>
                    <input 
                    class="form-control w-25"
                    currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'}"
                    formControlName="value"
                    >
                    <hr>
                    <label >Data de entrada</label>
                    <input 
                    class="form-control w-25"
                    type="date"
                    formControlName="dateEntry"
                    >
                    <hr>
                    <label >Funcionario</label>
                    <select class="form-control w-25" formControlName="userID">
                    <option
                    *ngFor="let aux of listUsers"
                    [ngValue]="aux.id"
                    >
                        {{aux.name}}
                    </option>
                    </select>
                    <hr>
                    <label >Cliente</label>
                    <!-- <select class="form-control" type="number" [(ngModel)]="cidadeId" (ngModelChange)="onAddCidade()" >
                            <option *ngFor="let cidades of cidade" [ngValue]="cidades.Id">
                              <p>{{ cidades.Id }}, {{ cidades.NomeCidade }}, {{ cidades.PaisCidade }}</p>
                            </option>
                          </select> -->
                    <select class="form-control w-25"  formControlName="companyID" >
                        <option
                        *ngFor="let aux of listCompanies"
                        [ngValue]="aux.id"
                        >
                        {{aux.companyName}}
                        </option>
                    </select>
                    <hr>
                    <button class="btn btn-primary mt-3" (click)="enviartalao()" [disabled]="!formGroup.valid">Enviar</button>
                    <div class="alert alert-success" role="alert" *ngIf="openSucess">
                        Talão cadastrado com sucesso!
                    </div>
                  </div>
                </div>

            </form>
        </div>
    </div>
</div>