<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Title</h5>
        <app-sum-group-month></app-sum-group-month>
      </div>
  </div>
  </div>
  <div class="col-6">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Title</h5>
              <app-sum-group-companies></app-sum-group-companies>
          </div>
      </div>
  </div>
  <div class="col-6">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Title</h5>
              <app-sum-group-month-companies></app-sum-group-month-companies>
          </div>
      </div>
  </div>
  <div class="col-6">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="card-text">Content</p>
          </div>
      </div>
  </div>
  <div class="col-6">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="card-text">Content</p>
          </div>
      </div>
  </div>
  <div class="col-6">
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">Title</h5>
              <p class="card-text">Content</p>
          </div>
      </div>
  </div>
</div>