@import "variables";
.card {
  border: 1px solid #e7e7e7;
  transition: 0.3s;
  &.card-odd {
    background-color: #efefef;
  }

  .card-title {
    padding-bottom: 15px;
    margin: 0 0 15px;
    border-bottom: 1px solid #e7e7e7;
    // color: ;
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
  }
}


.card-special-padding-left-mobile {
  @media (max-width: 1339px) {
    padding-left: 32px;
  }
}

.col-fixed-icon-left {
  padding-left: 65px;
  position: relative;

  > .ic:first-child {
    display: block;
    width: 44px;
    height: 35px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3px;
    left: 10px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    &.ic-antecipacao-auto,
    &.ic-antecipacao-auto-desabilitado {
      height: 35px;
    }
  }
}

.col-fixed-icon-right {
  padding-right: 45px;
  position: relative;

  > .ic:last-child {
    display: block;
    width: 16px;
    height: 20px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
    left: auto;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.remove-margin-mobile {
  @media (max-width: 991px) {
    margin: 0 !important;
  }
}





.card-disabled {
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: not-allowed;
}

.card-footer {
  margin-top: 15px;
  padding: 15px 0 0;
  border-top: 1px solid #e7e7e7;
  background: none;
}
