@import "variables";

.form-control {
  height: auto;
  padding: 15px;
  font-size: 14px;
  color: #222222;
  border-radius: 0;
  background: #FDFDFD;
  border: 1px solid #312BC6 !important;
  cursor: pointer;
}
.custom-select {
  height: auto;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  color: #222222;
  background-color: #FDFDFD;
  border: 1px solid #312BC6 !important;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #E91E63 !important;
  background-color: #E91E63 !important;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.custom-control-label {
  cursor: pointer;
}

.error:focus,
.error {
  border-color: #E91E63 !important;
  color: #E91E63 !important;
}

.invalid-feedback {
  color: #E91E63 !important;
}



.input[disabled] {
  --input-border: #ccc;

  background-color: #eee;
  cursor: not-allowed;
}
::-webkit-input-placeholder { /* Edge */
  color:#DCDCDC;
  font-size: 10px;
  text-transform: uppercase;
}

:-ms-input-placeholder { /* Internet Explorer */
  color:#DCDCDC;
  font-size: 10px;
  text-transform: uppercase;
}

::placeholder {
  color:#DCDCDC;
  font-size: 10px;
  text-transform: uppercase;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
