<div class="vertical-nav bg-white" *ngIf="open">
    <div class="py-4 px-3 mb-4 bg-light">
      <div>
        <i class="ic ic-ferramenta rounded-circle"></i>
      </div> 
      <div class="media d-flex align-items-center">
        <div class="media-body">
          <h4 class="m-0">Bruno Simon</h4>
          <p class="font-weight-light text-muted mb-0">Web developer</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Serviços</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a [routerLink]="['/financeiro']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic bg-light">
                  <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                  Financeiro
              </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/financeiro/adicionar-modelo']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
                  <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                  Adicionar Modelo
              </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/financeiro/list-producao']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
                  <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                  Produção
              </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/financeiro/adicionar-empresa']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  Empresas
              </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  class="nav-link text-dark font-italic">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  Dashboard
              </a>
      </li>
    </ul>
  </div>

  <div class="page-content" id="content">
    <!-- Toggle button -->
    <button type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4" (click)="abri()"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
  
    <!-- Demo content -->
    </div>

  