<div class="card-body w-100 h-100">
  <div class="row">
      <div class="col-12 h4">Utilize os filtros para ver a produção do funcionario</div>
      <div class="col-12">
          <form [formGroup]="formGroup" class="form-group " (ngSubmit)="getProducao()">
              <div class="row">
                  <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-5 align-self-center">
                    <app-date-piker-list-prev
                    [init]="init"
                    class="float-left"
                    (alterarPeriodo)="alterarPeriodo($event)"
                    ></app-date-piker-list-prev>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-7 align-self-center">
                      <select class="custom-select" formControlName="userID" >
                          <option
                          *ngFor="let aux of listUser"
                          [ngValue]="aux"
                          >
                          {{aux.name}}
                          </option>
                      </select>
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4 align-self-center">
                    <input
                    maxlength="5"
                    class="custom-select"
                    type="text"
                    formControlName="descont"
                    currencyMask
                    [options]="{ prefix: '', thousands: '', decimal: '.', aling: 'rigth', suffix: ' %', allowNegatve:false}"
                    >
                  </div>
                  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5 col-4 align-self-center">
                    <div class="text-muted text-xs">{{valueFormat}}</div>
                    <label class="switch">
                      <input type="checkbox" formControlName="dateFinalNotNul" >
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-4 align-self-center px-0">
                    <button class="btn btn-info " [disabled]="!formGroup.valid"  type="submit">PESQUISAR</button>
                  </div>
              </div>
          </form>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="font-weight-bold h5">Quantidade total Bolsas: {{totalBolsas}}</div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="font-weight-bold h5">Valor total: {{valorTotal  | reais}}</div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="font-weight-bold h5"> porcentagem desconto: {{totalDescont  | percent}}</div>
          </div>
          <div class="col-12" *ngIf="listProducao.length">
            <button class="text-sm btn btn-outline-warning" (click)="geratePaymentUser()">exportar pagamento</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-lista-producao            [dados]="listProducao" class="container-responsive-lg-none"></app-lista-producao>
          <app-lista-producao-responsive [dados]="listProducao" class="container-responsive-md-none"></app-lista-producao-responsive>
        </div>
      </div>
      <div class="col-12" *ngIf="!listProducao.length">
        <app-messenger-dados></app-messenger-dados>
      </div>
  </div>
</div>
