<div class="container center">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="card">
        <div class="card-body">
          <form class="form-group" [formGroup]="formGroup"  (ngSubmit)="login()">
            <label for="">Email</label>
            <input 
            type="email" 
            class="form-control"
            autocomplete="off"
            formControlName="email"
            >
            <label for="" >Senha</label>
            <input 
            type="password" 
            class="form-control"
            autocomplete="off"
            formControlName="password"
            >
            <div class="text-center mt-3">
              <button class="btn-block btn-success" [disabled]="!formGroup.valid" type="submit">Entrar</button>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="openError">
              {{error}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  
</div>