<div class="container">
    <div class="row">
        <div class="col-12 h4">Selecione os filtros de pesquisa</div>
        <div class="col-4">
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{currentYear}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button
                class="dropdown-item"
                 type="button"
                 *ngFor="let aux of year"
                 (click)="changeFilterYear(aux.year)"
                 >
                    {{aux.year}}</button>
                
            </div>
        </div>
        </div>
        <div class="col-4">
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
            </div>
        </div>
        <div class="col-4">
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
            </div>
        </div>
    </div>
</div>